import numpy as np ## Numerical Python
import pandas as pd ## Python for Data Analysis
import matplotlib.pyplot as plt ## Ploting Library Available
import seaborn as sns ## Library for Making Statistical Graphs